snippet fig "Add a new figure"
#figure(
	image("${1:path}", ${2:width: ${3:80%}}),
	caption: [${4:caption}],
) <${5:label}>
endsnippet

snippet notepdfpc "Add note for pdfpc presentation" b
#pdfpc.speaker-note(
	```md
	$1

	```
)$0
endsnippet
